*.pyc
__pycache__
.DS_STORE
.idea
result
results
*.png
*.jpg
.idea
lite_data/

results*
vision_datasets/
exp_results/
exp_results*
results_*
.vscode

*.so
model_zoo
model_zoo/*

cvnets.egg-info
cvnets.egg-info/*
